
.wrapper {
    position:relative;
    
  }
  
  .wrappercontainer {
    position: absolute;
    right: 150px;
  }
  .icon {
    height: 1.7rem;
    width: 1.5rem;
    color: #326A55;
    opacity: 1;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%);
  }
  
  .input {
    width: 150px;
    height: 10px;
    box-sizing:border-box;
    padding-left: 1.5rem;
    padding: 15px 45px;
    border-radius: 20px;
    border: 0;
    right: 150px;
    background: transparent;
    border: 1px solid #326A55;
  }


  @media only screen and (max-width: 600px) {

    .wrappercontainer {
      right: 22px;
    }
    .searchwrapper {
      height: 50px;
      width: 100%;
       text-align: right;
      position: relative;
    }
  }