.wrapper {
  position:relative;
}

.container {
  position: absolute;
  right: 62px;
  top: -60px;
  margin-bottom: 40px;
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing:border-box;
  top:24px;
 left:1.5px;
  transform: translateY(-50%);
}

.input {
 height: 30px;
 outline: 0;
  box-sizing: border-box;
    padding: 1.5rem 2rem;
   
    color: gray;
}


  .input::placeholder {
    color: white;
  }


  .react-bootstrap-typeahead {
    position: relative;
  }
















  



  @media only screen and (max-width: 600px) {

    .wrappercontainer {
      right: 22px;
    }
    .searchwrapper {
      height: 50px;
      width: 100%;
       text-align: right;
      position: relative;
    }
  }