.menu_btns {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 10;
    width: 6rem;
}

.menu_btns button {
    background-color: #DFEAE6;
    color: #3754a4;
    border-radius: 0;
    padding: 8px 6px;

}

.btns_container {
    position: relative;
}

