.viewContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 100px;
    justify-content: left;
    border: 1px solid #F4F6F6;
    width: 500px;
    border-radius: 6px;
    margin: 4rem auto;
    margin-bottom: 4rem;
    background-color: #F4F6F6;
    color: grey;
    padding: 1rem;
}

.viewContainer h2 {
    margin: 20px 0;
    color: #3754a4;
    margin: 0 auto;
    padding: 10px;
  }
  
  .viewContainer p {
    margin: 8px;
  }

  .addButton {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin: 2rem auto;
    justify-content: center;
  }
  
  .addButton button {
  color: white;
  padding: 10px 25px;
  height: 40px;
  border: 0;
  border-radius: 4px;
  background-color: #3754a4;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  }

  .viewContainer .back {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

   .viewContainer .back button {
    background-color: #3754a4;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    height: 40px;
    border-radius: 4px;
    margin: 20px 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .back button:hover {
    background-color: white;
    color: #326A55;
    border: 1px solid #326A55;
  }