.table_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.table_container table{
    width: 91%;
    border-collapse: collapse;
    overflow: auto;
    flex-grow: 1;

  }

table thead {
    border: 1px solid #fff;
    background-color: #DFEAE6;
}

table thead tr th{
    padding: 1rem;
    color: #3754a4;
  }

  table tbody tr td{
    padding: 1rem;
    padding-bottom: 0;
  }

  .btns {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }

  .btns button {
    background-color: #DFEAE6;
    color: #3754a4;
    padding: 8px 16px; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
    /* border: 1px solid #3754a4; */
}

.btns button:hover {
    background-color: #3754a4;
    color: #DFEAE6;
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: transparent;
    color: #3754a4;
    margin-top: auto;
    /* wid */
  }

  .pagination button {
    background-color: #3754a4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    height: 40px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
   }