:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;
  min-height: 100vh;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to right, #3754A4, #02AD68);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


