.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    text-align: center;
}

.nav_items {
    display: flex;
    flex: 1;
    gap: 2rem;    
    align-items: center;
    justify-content: space-around;
}

.nav_items a {
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
}

.nav_items a:hover {
    background-color: #fff;
    color: #3754A4;
    font-weight: 500;
}

.nav_items a.active {
    color: black;
}

.logo img {
    border: #fff 2px solid;
    border-radius: 4px;
}

.logo p {
    font-weight: bold;
}


.logo {
    /* flex: 0 0 30%; */
    display: flex;
    margin-left: 8rem;
    gap: 5px;
    text-align: center;
    align-items: center;
}